<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Felipe Barbosa Manhani - SC3004074</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Trabalho final apresentado para a matéria de Desenvolvimento de Sistemas Web para Dispositivos Móveis.</p>
    </ion-card-content>
  </ion-card>
</ion-content>